.bg-logo-login {
  background-color: black !important;
}

label {
  margin-bottom: 0;
}

.pagination .dt-paging-button .page-link.first,
.pagination .dt-paging-button .page-link.last {
  display: none !important;
}

div.table-responsive>div.dt-container>div.row {
  margin: 0 0 0.5rem 0 !important;
}

table.dataTable th.dt-type-numeric,
table.dataTable td.dt-type-numeric {
  text-align: left !important;
}