.bg-logo-login {
  background-color: black !important;
}

label {
  margin-bottom: 0;
}

.action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 576px) {
  .action-buttons {
    display: inline-flex;
  }
}

.pagination .dt-paging-button .page-link.first,
.pagination .dt-paging-button .page-link.last {
  display: none !important;
}

div.table-responsive>div.dt-container>div.row {
  margin: 0 0 0.5rem 0 !important;
}

table.dataTable th.dt-type-numeric,
table.dataTable td.dt-type-numeric {
  text-align: left !important;
}

/* styles.css */
#preview {
  max-width: 30%;
  height: auto;
}

@media (max-width: 768px) {
  #preview {
    max-width: 75% !important;
  }
}

@media (max-width: 480px) {
  #preview {
    max-width: 100% !important;
  }
}