.bg-logo-login {
  background-color: black !important;
}

label {
  margin-bottom: 0;
}

.action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fs-1 {
  font-size: calc(1.1rem + 1.5vw) !important;
}

.fs-2 {
  font-size: calc(1.05rem + 0.9vw) !important;
}

.fs-3 {
  font-size: calc(1rem + 0.6vw) !important;
}

.fs-4 {
  font-size: calc(0.95rem + 0.3vw) !important;
}

.fs-5 {
  font-size: 0.9rem !important;
}

.fs-6 {
  font-size: 0.85rem !important;
}

.fw-bold {
  font-weight: 700 !important;
}

.fw-bolder {
  font-weight: bolder !important;
}

.fw-semibold {
  font-weight: 600 !important;
}

.fw-medium {
  font-weight: 500 !important;
}

.fw-normal {
  font-weight: 400 !important;
}

.fw-light {
  font-weight: 300 !important;
}

.fw-lighter {
  font-weight: lighter !important;
}


.alert {
  border-radius: unset !important;
}

@media (max-width: 576px) {
  .action-buttons {
    display: inline-flex;
  }
}

.pagination .dt-paging-button .page-link.first,
.pagination .dt-paging-button .page-link.last {
  display: none !important;
}

div.table-responsive>div.dt-container>div.row {
  margin: 0 0 0.5rem 0 !important;
}

table.dataTable th.dt-type-numeric,
table.dataTable td.dt-type-numeric {
  text-align: left !important;
}

.custom-thead {
  border-left: none !important;
  border-right: none !important;
  border-top: .12rem solid #dee2e6 !important;
  border-bottom: .12rem solid #dee2e6 !important;
}

table.dataTable th.dt-type-numeric,
table.dataTable th.dt-type-date,
table.dataTable td.dt-type-numeric,
table.dataTable td.dt-type-date {
  text-align: left !important;
}

#dataTablePurchaseItems.table-bordered,
#dataTableSaleItems.table-bordered {
  border: none !important;
}

#dataTablePurchaseItems.table-bordered td,
#dataTablePurchaseItems.table-bordered th,
#dataTableSaleItems.table-bordered td,
#dataTableSaleItems.table-bordered th {
  border: none !important;
}

#dataTablePurchaseItems_wrapper>div>div,
#dataTableSaleItems_wrapper>div>div {
  padding: 0;
}

div#notification {
  padding-inline: .2rem;
}

.blink {
  visibility: hidden;
}

#notification {
  transition: opacity 0.3s ease-in-out;
  /* Smooth transition */
}

#notification.blink {
  opacity: 0;
  /* Change opacity to create blink effect */
}

#preview {
  max-width: 30%;
  height: auto;
}

@media (max-width: 768px) {
  #preview {
    max-width: 75% !important;
  }
}

@media (max-width: 480px) {
  #preview {
    max-width: 100% !important;
  }
}